.row{
    background-color: #EAF2FD;
    justify-content: center;
    padding-right: 2rem;
}

.contact_logo{
    display: grid;
    justify-content: center;
}

/* .contact{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 5rem 0;
    margin-left: 0;
    margin-right: 0;
    
} */

.contact_form, .contact_logo, .about{
    width: 33%;
} 

.contact_form h2{
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.dev{
    font-size: 1.2rem;
    padding: 1.5rem 0 0 0;
}

/* .about{
    display: flex;
    flex-wrap: wrap;
}*/

li{
    font-size: 1.2rem;
    padding-bottom: .5rem;
}

/* Responsivo */

@media (max-width:768px){
    .row{
        justify-content: center;
    }
    
    .contact_form, .contact_logo, .about{
        width: 80%;
        display: flex;
        justify-content: center;
        padding: 1.5rem 0;

    }

    .contact_form{
        flex-direction: column;
        text-align: center;
    }

}